# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Docker
*.log
docker-compose.override.yml

# dotenv
.env
.venv

# virtualenv
venv/
ENV/
env/
env.bak/
venv.bak/

# Flask specific
instance/
.webassets-cache
*.db

# Media Content
*.webp
*.png
*.gif
*.jpg
*.jpeg

# Personal
.token
